/* Set the global variables for everything. */
:root {

  /* Set fonts */
  --serif-font:"Lora", "Times New Roman", serif;
  --sans-font: Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Set colors */
  --main: #f4f4f4;
  --accent: #393939;;
}

h1, h2, h3, p, ul, li {
  color: var(--accent);
}

a {
  text-decoration: none;
}

img {
  width: 60px;
  height:60px;
}

p {
  font-size: 25px;
  line-height: 30px;
}


html, body {
  height: 90%;
}

.main {
  border: var(--accent) 2px solid;
  border-radius: 90px;
  margin: 2em;
  padding: 2.5em 5em;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

header p{
  padding-left: 1em;
  border-left: var(--accent) 1px solid;
}

header ul {
  list-style-type: none;
  padding-right: 1em;
}

ul > li {
  display: inline;
}

h1 {
  margin: 0;
  font-size: 80px;
  line-height: 100px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

.projects {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.project {
  /* border: var(--accent) 2px solid; */
  background-color: var(--accent);
  border-radius: 90px;
  padding: 3em;
  width: 30em;
}

.project p, h3 {
  font-size: 20px;
  color: var(--main);

}