/* Set the global variables for everything. */
:root {
  /* Set fonts */
  --serif-font: "Lora", "Times New Roman", serif;
  --sans-font: Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue",
    sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Set colors */
  --mainBg: #f4f6f7;
  --text: #393939;
  --link: #009c49;
  --linkHover: #7d7abc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--mainBg);
  margin: 0;
}

h1,
h2,
h3,
p,
ul,
li {
  color: var(--text);
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--serif-font);
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--link);
}

/* start navigation styles */
header {
  background: var(--mainBg);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logos {
  display: none;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 80%;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span {
  display: block;
  background: var(--text);
  height: 4px;
  width: 1.75em;
  border-radius: 2px;
  position: relative;
  z-index: 1;
  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.nav-toggle-label span:first-child {
  top: 25px;
  transform-origin: 0% 0%;
}

.nav-toggle-label span:nth-child(2) {
  top: 40px;
  right: 1.75em;
  /* right: 2em; */
  transform-origin: 0% 100%;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  right: 0;
  background-color: #015a2b;
  width: 60%;
  height: 50vh;
  transform: scale(1, 0);
  transform-origin: right top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  font-family: var(--sans-font);
  margin-top: 5rem;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: var(--mainBg);
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ label span:first-child {
  opacity: 1;
  transform: rotate(38deg) translate(-2px, -1px);
  background: var(--mainBg);
}

.nav-toggle:checked ~ label span:nth-child(2) {
  opacity: 1;
  transform: rotate(-38deg) translate(0, -1px);
  background: var(--mainBg);
}

/* end Navigation styling */

/* start body style */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h3 a {
  color: var(--text);
}

p {
  font-size: 1.25rem;
  font-family: var(--sans-font);
}

.intro,
.projects {
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 1.5rem 0.75rem;
}

section > * + * {
  margin-top: 1.5rem;
}

section {
  border-bottom: var(--link) 2px solid;
}

.project > * + * {
  margin-top: 1.5rem;
}

/* end body style */

/* desktop styling */
@media (min-width: 800px) {
  html,
  body {
    height: 90%;
  }
  /* Fade in */
  h3 > a,
  p > a {
    padding: 0.2em 0;
    display: block;
    position: relative;
    width: max-content;
  }
  a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: hotpink;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }

  img {
    width: 35px;
    height: 35px;
  }

  p {
    font-size: 25px;
    line-height: 30px;
  }

  .main {
    border: var(--text) 2px solid;
    border-radius: 90px;
    margin: 2em;
    padding: 2.5em 5em;
    height: 100%;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .logos {
    display: block;
  }

  header p {
    padding-left: 1em;
    border-left: var(--text) 1px solid;
  }

  header ul {
    padding-right: 1em;
  }

  ul > li {
    display: inline;
  }

  h1 {
    margin: 0;
    font-size: 75px;
    line-height: 90px;
    font-weight: 700;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 28px;
  }

  .projects {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .project {
    border: var(--text) 2px solid;

    border-radius: 90px;
    padding: 1.25em 2.15em;
    width: 25em;
  }

  .project p,
  h3 {
    font-size: 20px;
  }
}
